.nav {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 4;
  background-color: #27476e;
}

.item-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.items {
  margin: 1.4em;
  font-size: 1.2em;
  transition: 0.15s;
}

.items:hover {
  font-size: 1.4em;
  font-weight: bold;
}
