.section-secondary {
  height: auto;
  width: 100%;
  /* background-color: #303036; */
  background-color: #1d1d20;
  position: relative;
  top: 0;
  bottom: 0%;
  padding-bottom: 4em;
}

.section-secondary-title {
  /* color: azure;*/
  color: #bf1111;
  font-size: 2.6em;
}

.secondary-container {
  width: 100%;
  padding-top: 4em;
}

.researches {
  width: 100%;
}

.alternate_section2_text {
  color: snow;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: larger;
}
