div.card {
  padding: 0.8em;
  background-color: dimgray;
  color: snow;
  border-radius: 0.4em;
  display: inline-block;
  margin: 2em;
  max-width: 450px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  transition: 0.3s;
}
div.card:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.card-title {
  transform: translateY(0.45em);
}

.card-image {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
}

.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 16, 16, 0.4);
  z-index: 1;
}

.card-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  max-width: 1000px;
  background-color: #1d1d20;
  display: flex;
  padding: 1em;

  border-radius: 0.4em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 1.5em;
  transition: 0.3s;
}

.card-content {
  display: inline-block;
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
}

.card-info-title {
  color: #bf1111;
  font-size: larger;
  font-weight: bold;
  margin-top: 0.5em;
}

.card-info-para {
  color: white;
  margin: 0.8em;
  margin-top: 1.2em;
  font-style: italic;
}
.card-info-link {
  color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  transition: 0.3s;
}

.date {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  color: #940303;
  margin: 0.8em;
}

.card-info-link:hover {
  background-color: #940303;
  padding: 0.8em;
  border-radius: 0.4em;
}

.card-image-info {
  flex: 1;
  max-width: 50%;
  object-fit: "contain";
  vertical-align: middle;
}

@media only screen and (max-width: 700px) {
  .card-info {
    display: block;
  }
  .card-content {
    display: block;
  }
  .card-image-info {
    flex: 1;
    width: 100% !important;
    max-width: 100%;
  }
}
